language: python

sudo: false

dist: trusty
group: edge

python:
   - "3.5"
   - "3.6"

os:
  - linux


install:
  - pip install --upgrade pip
  - pip install -e .

script:
  - "python setup.py test"
  - "python setup.py test"
